@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <canvas id="container" width="200" height="200">
    </canvas>

    <h1 class="display-4" style="color:white;">Welcome</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ajr18Yw5xdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
